* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px rgb(22, 22, 22);
  text-align: center;
  text-decoration: none;
  color: #1b1b1b;
}

nav a[aria-current="page"] {
  color: #000;
  background-color: #d4d4d4;
}

.main {
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}

.main h1 {
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.main .buttons {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 2px solid black;
  padding-top: 10px;
}

.main h2 {
  margin-top: 30px;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
